import(methods)
import(AnnotationDbi)

### Only put what is statically exported here. All the AnnObj instances
### created at load time are dynamically exported (refer to R/zzz.R for
### the details).
export(
    hursta2a520709custom,
    hursta2a520709custom_dbconn,
    hursta2a520709custom_dbfile,
    hursta2a520709custom_dbschema,
    hursta2a520709custom_dbInfo,

    hursta2a520709customORGANISM
)

